/* MENU VIEW */

.experience-container {
  min-height: 100vh;
  height: 100%;
  background-color: #eabad8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.experience-footer {
  font-family: "Hind", sans-serif;
  font-size: 0.7em;
}

.experience-company-container {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.break-ecc {
  flex-direction: column;
  height: 100%;
  width: 150%;
}

.full-ecc {
  flex-direction: row;
  max-width: 65vw;
}

.logo-clickable {
  width: 25%;
  cursor: pointer;
}

.menu-logo {
  max-width: 100%;
}

/* DETAIL VIEW */

.detail-container {
  height: 88vh;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  font-family: "Hind", sans-serif;
}

.detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.detail-logo {
  max-width: 25%;
  max-height: 90px;
}

.detail-body {
  display: flex;
}

.break-db {
  align-items: center;
  justify-content: center;
}
.full-db {
  flex-direction: row;
  align-items: flex-start;
}
/* RIGHT GUTTER */

.body-rightgutter-image {
  padding: 0 30px;
  margin-bottom: 20px;
  margin-top: -20px;
  max-width: 15vw;
  margin-left: 0;
  padding-left: 0;
}

.detail-screenshot {
  height: 450px;
  width: 300px;
  margin-left: 2%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* LEFT GUTTER */

.body-leftgutter {
  margin: 30px;
}

.break-bl {
  max-width: 400px;
}
.full-bl {
  max-width: 50%;
  padding-right: 0px;
  margin-right: 0;
}

.leftgutter-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  margin: 20px 10px;
}

.icons-item {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.learn-more-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 40px 10px;
}
