.starting-view-container {
  height: 100%;
  background-image: linear-gradient(
    180deg,
    #f4b93d,
    #f4b93d
  );
  position: relative;
}

#sean-menu-image {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 60%;
}
