.starting-view-container {
  background-image: linear-gradient(
    180deg,
    #f4b93d,
    #f4b93d
  );
  position: relative;
}
.break-scv {
  height: 100%;
}
.full-scv {
  height: 100%;
  min-height: 100vh;
}

#sean-menu-image {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 60%;
}

.header-sv {
  padding: 20px;
  width: 100%;
  max-width: 65vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Raleway";
}

.header-sv span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}
