html body {
  margin: 0 !important;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100vw;
}

.home-left-sticky {
  width: 35vw;
  min-width: 350px;
  background-color: aquamarine;
}

.home-right-scrollview {
  width: 65vw;
  background-color: red;
}

.left-sticky-title {
  font-family: "Righteous", cursive;
}
