.starting-view-container {
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    #f4b93d,
    #f4b93d
  );
  position: relative;
}

#sean-menu-image {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 60%;
}

/* EXPERIENCE */

.experience-container {
  min-height: 100vh;
  height: 100%;
  background-color: #eabad8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience-company-container {
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  max-width: 65vw;
  align-items: center;
  justify-content: space-around;
}

.logo-clickable {
  width: 25%;
}

.experience-logo {
  max-width: 100%;
}
